@font-face { 
	font-family: 'paybooc-Bold'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff'); 
	font-weight: normal; font-style: normal; 
}
@font-face {
	font-family: 'paybooc-ExtraBold'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
body {
	font-family: paybooc-Bold, sans-serif;
}
a:link {
	color: rgb(146, 208, 80);
	text-decoration: none;
}
a:visited {
	color: rgb(146, 208, 80);
	text-decoration: none;
}
a:active {
	color: rgb(146, 208, 80);
	text-decoration: none;
}
a:hover {
	color: rgb(146, 208, 80);
	text-decoration: underline;
}
.headerDiv {
	float:right;
	margin-right: 5rem;
	width:100px;
}
header {
	margin: 10px 10px 10px 10px;
}
#logo {
	margin-left: 2.5rem;
	height: 17.5%;
	width: 17.5%;
}
.blogLink {
	text-align: right;
}
.page {
	margin-left:5rem;
	margin-right:5rem;
}
pre {
	font-family: paybooc-Bold, sans-serif;
	text-align: center;
}
b {
	font-family: paybooc-ExtraBold, sans-serif;
}
.green {
	color: rgb(146, 208, 80);
}
.gray {
	color: gray;
}
#mk2019 {
	height: 10%;
	width:10%;
}
#mn {
	height: 15%;
	width:15%;
}
